@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,700;1,500;1,600&family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');
/* FORM DATA */
body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
form{
    box-shadow: 0px 0px 0px 3px black;
    background: white;
    border-radius: 20px;
    width: 400px;
    margin: 100px auto 100px auto ;
    padding: 20px;
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
}
h1{
    text-align: center;
    font-weight: 510;
    font-family: 'Josefin Sans', sans-serif;
}
.text-1{
    font-family: 'Noto Sans JP', sans-serif;
    color: gray;
}
.container .paymentform {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container form {
    height: 100%;
    width: 100%;
    background: #fff;
}




/* PRODUK PAYMENT DATA */
.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.text-main .cartjudul{
	text-align: center;
	justify-content: center;
}
.cart-page{
	margin: 80px auto;
}
table{
	margin-top: 20px;
	width: 100%;
	border-collapse: collapse;
}
.cart-info{
	display: flex;
	flex-wrap: wrap;
}
th{
	text-align: left;
	padding: 5px;
	color: black;
	background: #f7cac9;
}
td{
	padding: 10px 5px;
}
td input{
	width: 40px;
	height: 30px;
	padding: 5px;
}
td a{
	font-size:12px ;
	color: red;
}
td img{
	width: 80px;
	height: 80px;
	margin-right: 10px;
}
.total-price{
	display: flex;
	justify-content: flex-end;
}
.total-price table{
	border-top: 3px solid #ff523b;
	width: 100%;
	max-width: 350px;
}
td:last-child{
	text-align: right;
}
th:last-child{
	text-align: right;
}




/* FORM ISI PAYMENT DATA */
.paymentform .loginform {
    width: 100%;
}

form .paymentform .inputan {
    margin-top: 30px;
}

form .paymentform .kotakinput {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.inputfile{
    margin-top: 30px;
    position: flex;
    margin-left: 32px;
}
.inputfile p{
    color: grey;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
}
.upload-box{
    font-size: 12px;
    background: white;
    border-radius: 50px;
    box-shadow: 5px 5px 10px grey;
    width: 220px;
    outline: none;
}
::-webkit-file-upload-button{
    color: white;
    background: #FF1493;
    padding: 10px;
    outline: none;
}
::-webkit-file-upload-button:hover{
    background: #5b13b9;
}

form .paymentform .login-text {
    text-align: center;
    margin-top: 25px;
}

.paymentform .kotakinput input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.paymentnform .kotakinput input:focus,
.paymentform .kotakinput input:valid {
    border-color: white;
}

.paymentform .kotakinput i {
    position: absolute;
    color: #FF1493;
    font-size: 17px;
}
.container #flip{
    display: none;
}
form .paymentform .text {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

form .paymentform .text a {
    text-decoration: none;
}

form .paymentform .text a:hover {
    text-decoration: underline;
}

form .paymentform .tombol {
    color: #fff;
    margin-top: 40px;
}

form .paymentform .tombol input {
    color: #fff;
    background: #FF1493;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

form .paymentform .tombol input:hover {
    background: #5b13b9;
}

form .paymentform label {
    color: #5b13b9;
    cursor: pointer;
}

form .paymentform label:hover {
    text-decoration: underline;
}



