/* Catalogue */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,700;1,500;1,600&family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.text-main {
	font-family: 'Josefin Sans', sans-serif;
}

.text-second {
	font-family: 'Noto Sans JP', sans-serif;
}


.primary-col {
	color: #1C4759;
}

.secondary-col {
	color: #3A3A3A;
}

.btn-rounded {
	border-radius: 5px;
}

section.catalogues {
	background-color: #FBFBFB;
	min-height: 573px;
}

section.catalogues .text-products {
	padding: 70px 0 60px 0;
}

section .title-product h2{
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 2px;
	color: #3A3A3A;
}


section .products {
	padding-bottom: 70px;
}

section .product > div{
	border-radius: 10px;
	box-shadow: 0px 12px 24px rgba(84, 116, 129, 0.29);
}

section .product .desc-product {
	text-align: center;
	padding: 12px 50px;
}

.product .desc-product a {
	color: #3A3A3A;
}

.product .desc-product p:first-child {
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: normal;
	margin-bottom: 10px;
}

.product .desc-product p:last-child {
	font-size: 15px;
	font-weight: 700;
	letter-spacing: .8px;
	margin-bottom: 10px;
	color: #3A3A3A;
}